In [5]:
# Importing libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

%matplotlib inline

In [6]:
# Setting plot preferences

plt.style.use('seaborn-whitegrid')
font = {'family' : 'Helvetica',
       'weight'  : 'bold',
       'size'    : 14}

mpl.rc('font', **font)

**Roadmap for the test**
- current conversion rate of 13% -> expected 15%
- alpha value : 0.05
- power of the test : 0.8

Calculating expected sample size to measure significance of the test

In [8]:
#calculating effect size based on expected rates = 13% VS. 15%
effect_size = sms.proportion_effectsize(0.13, 0.15)

#calculating sample size needed
required_n = sms.NormalIndPower().solve_power(effect_size,
                                              power=0.8,
                                              alpha=0.05,
                                              ratio=1)

#rounding up to whole number
required_n = ceil(required_n)

print(required_n)

4720

Importing dataset from [Kaggle](https://www.kaggle.com/zhangluyuan/ab-testing?select=ab_data.csv)

In [2]:
data = pd.read_csv(r'data/ab_data.csv')

In [3]:
data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [12]:
#checking differences between control group & test_group
pd.crosstab(data['group'], data['landing_page'])

landing_page  new_page  old_page
group
control           1928    145274
treatment       145311      1965

In [ ]:
#check whether no user have been sampled multiple times